<h2>Your Climbing Destinations</h2>
<h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
<hr />
<%= link_to "Plan Your Next Trip", new_destination_path %>
<ul>
<% @destinations.each do |destination| %>
  <li><%= destination.name %> - <%= destination.location %></li>
  <%= link_to "Edit Destination", edit_destination_path(destination) %>
<% end %>
</ul>

<%= button_to "Log Out", destroy_user_session_path, method: :delete %>
